@page
@model ResultsModel
@{
    ViewData["Title"] = "Results | OpenFlights Search Tool";
}

<div class="text-start">
    <h1 class="display-4">Results</h1>
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Airline Code</th>
                <th>Source Airport Code</th>
                <th>Destination Airport Code</th>
                <th>Equipment</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var record in Model.Results)
            {
                <tr>
                    <td>@record.AirlineCode</td>
                    <td>@record.SourceAirportCode</td>
                    <td>@record.DestAirportCode</td>
                    <td>@record.Equipment</td>
                </tr>
            }
        </tbody>
    </table>

</div>